<!--project/templates/delete_orderitem_form-->
{% extends 'project/base.html' %}
{% block content %}

<h2>Remove Item</h2>

<form method="POST" enctype="multipart/form-data">
     <table>
        <tr>
            <td> 
                <!--display warning-->
                <h3>Are you sure you want to remove this item from your cart?</h3>
                <!-- the submit button-->   
                <button input type="submit"><a>Delete</a></button>
                {% csrf_token %}
            </form>
            <!-- the cancel button, redirects user to their order page-->
            <form action="{% url 'show_order' request.user.pk %}" method ="get">
                <button input type="submit" name="Cancel" value="Cancel"><a>Cancel</a></button>
            </form>
            </td>
        </tr>
     </table>

</form>


{% endblock %}