<!--Kyle Yung, yungk@bu.edu-->
<!--html for user's order page-->
<!-- project/templates/project/show_order.html -->
{% extends "project/base.html" %}

{% block content %}
<h1>Your Cart</h1>

<!-- if user has an items in cart -->
{% if items %}
    <table class="order_table">
        <!-- table headers -->
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        <!-- loop through items in order -->
        {% for item in items %}
        <tr>
            <!-- display items info -->
             <td>
                    <div class="product-image">
                        <a href="{% url 'show_product' item.product.pk %}">
                            <img src="{{ item.product.image_url }}" alt="Product Image" class="img_small">
                        </a>
                    </div>
             </td>
            <td>{{ item.product.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.product.price }}</td>
            <td>
                <form action="{% url 'update_orderitem' item.pk %}" method="GET">
                    <button type="submit" class="button">Update</button>
                </form>
 
                <form action="{% url 'delete_orderitem' item.pk %}" method="GET">
                    <button type="submit" class="button">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- display the total price -->
    <h3>Total: ${{ total_price }}</h3>

    <div class="actions">
        <!-- purchase item form -->
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="button">Purchase Items</button>
        </form>

        <!-- Button that redirects user to home page-->
        <form action="{% url 'home' %}" method="GET">
            <button type="submit" class="button">Browse More</button>
        </form>
    </div>

<!-- If user doesn't have an order-->
{% else %}
    <p>Your Cart is Empty!</p>
{% endif %}

{% endblock %}