<!--template html for the pages-->
{% load static %}
<html>
    <head>
        <title>MiniFacebook</title>
        <link rel="stylesheet" href="{% static 'fb_styles.css' %}">
    </head>
    <body>

        <nav class="navbar">
            <ul>
                <!-- if the user is authenticated -->
                {% if request.user.is_authenticated %}
                    <!-- display their username-->
                    <a>Welcome, {{ request.user }}!</a>
                {% else %}
                    <!--if not, say no user is logged in -->
                    <a>Not Logged In</a>
                {% endif %}
                <a href="{% url 'show_all_profiles' %}">All Profiles</a>
                <a href="{% url 'create_profile' %}">Create a Profile</a>
                 <!-- if the user is authenticated -->
                {% if request.user.is_authenticated %}
                     <!-- dispaly log out button -->
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form>
                 <!-- if not, display log in button -->
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </ul>
        </nav>

        {% block content %}
        
        {% endblock %}
        <hr>
        <p>Designed by Kyle Yung</p>
    </body>
</html>