<!--mini_fb/templates/mini_fb/show_all.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Mini Facebook</h1>

<!-- print out the context variable called articles -->
<!-- {{articles}} -->

<main class="grid-container">
    {% for a in profiles %}
    <div class="profile">
        <img src="{{a.image_url}}" alt="{{a.image_url}}">
        <h3>{{a.first_name}} {{a.last_name}}</h3>
        <p>{{a.city}}</p>
        <p>{{a.email}} </p>
    </div>
    {% endfor %}
</main>

{% endblock %}
