{% extends 'quotes/base.html' %}

{% block content %}
        <h1>About Michael Jordan</h1>
        <div class="container">
                <tr>
                        <td>
                                <img src="https://cdn.i-scmp.com/sites/default/files/styles/768x768/public/d8/images/canvas/2024/02/27/4e959be5-5ad6-4e2d-8f68-211615646712_caff78ba.jpg?itok=-W5eMUiA&v=1709007361"></img>
                        </td>
                        <td>
                                <img src="https://w0.peakpx.com/wallpaper/116/644/HD-wallpaper-chicago-bulls-dfg-fds.jpg"></img>  
                        </td>
                </tr>
                <p class="bio">Michael Jeffrey Jordan is an American businessman and former professional basketball player. He played 15 seasons in the NBA between 1984 and 2003. Over the span of his career, he amassed six NBA championships with the Chicago Bulls. Jordan played college basketball with the North Carolina Tar Heels. As a freshman, he was a member of the Tar Heels' national championship team in 1982. Jordan joined the Bulls in 1984 as the third overall draft pick and quickly emerged as a league star. Jordan won his first NBA title with the Bulls in 1991 and followed that achievement with titles in 1992 and 1993, securing a three-peat. His profile on the NBA website states, "By acclamation, Michael Jordan is the greatest basketball player of all time."</p>
        </div>
{% endblock %}