{% extends 'quotes/base.html' %}

{% block content %}

        <h2>Quotes</h2>
        <h3>{{quote1}}</h3>
        <h3>{{quote2}}</h3>
        <h3>{{quote3}}</h3>
        <h3>{{quote4}}</h3>
        <h3>{{quote5}}</h3>
        <h3>{{quote6}}</h3>
        <h3>{{quote7}}</h3>

        <h2>Images</h2>
        <img src={{image1}}></img>
        <img src={{image2}}></img>
        <img src={{image3}}></img>
        <img src={{image4}}></img>
        <img src={{image5}}></img>
        <img src={{image6}}></img>
{% endblock %}