{% extends 'quotes/base.html' %}

{% block content %}

        <h2>Quotes</h2> <!-- Quotes section header -->
                        {% for quote in quote %} <!-- for loop that displays quotes -->
                                <h3>{{ quote }}</h3>
                        {% endfor %}

        <h2>Images</h2> <!-- Images section header -->
                {% for image in image %} <!-- for loop that displays images -->
                        <img src="{{image}}">
                {% endfor %}
{% endblock %}